{{> head}}

{{> navbar}}
<div class="container-fluid">
<div class="row">
    <div class="col-8 text-center">
        <h1>Dualiapa </h1>
        <p>Dualipa es una cantante casi tan chida como billie</p>
    </div>
    <div class="col-4">
        <img src="assets/img/duaLipa.jpg" class="img-thumbnail">
    </div>
</div>
</div>

{{> footer}}